#selForm1, #selForm2, #selForm3{
    margin-top: 20px;
    padding: 20px;
    border: 2px solid darkslategray;
    box-shadow: 5px 10px 8px #888888;
}
#selPredmetButton{
    min-width: 107px;
}

@media print {
    .printButtonHide {
        display: none;
    }
    #selFormContainer {
        display: none;
    }
}